<template>
  <main class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row text-center q-mt-xl">
        <div class="col-12">
          <img src="../assets/images/logo-pmvc.svg" alt="">
        </div>
        <div class="col-12">
          <h1 class="text-font text-h4 q-mt-xl q-mb-lg">{{ app_name }}</h1>
        </div>
      </div>
      <div class="row justify-center">
        <form ref="form" @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset">
          <div class="row ">
            <div class="col-12 q-mb-md">
              <label class="label text-font">Usuário</label>
              <q-input
                filled
                ref="username"
                outlined name="usuario"
                type="text"
                v-model="data.username"
                :rules="usernameRules"
              />
            </div>
            <div class="col-12 q-mb-md">
              <label class="label text-font">Senha</label>
              <q-input
                filled
                ref="password"
                outlined name="password"
                type="password"
                v-model="data.password"
                :rules="passwordRules"
              />
            </div>
            <div class="col-12">
              <q-btn class="text-font full-width" type="submit" color="primary" label="Entrar" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="aside col-xs-0 col-md-6 column justify-end">
      <img src="../assets/images/logo-cti.svg" alt="" class="col-xs-0 col-md-3">
    </div>
  </main>
</template>

<script>
import { defineComponent } from "vue";
import { mapGetters, mapActions } from 'vuex';

export default defineComponent({
  ...mapGetters('auth', ['isAuthenticated']),
  name: "PageLogin",
  data() {

    return {
      data: {
        username: 'jaquionias',
        password: '1234',

      },
      app_name: process.env.APP_NAME,
      usernameRules: [
        val => (val && val.length > 0) || 'Digite o seu nome de usuário',
      ],
      passwordRules: [
        val => (val && val.length > 0) || 'Digite a sua senha',
      ],
    };
  },
  beforeMount() {
   if(this.isAuthenticated){
     this.$router.push('/')
   }
  },
  computed:{
    ...mapGetters('auth', ['isAuthenticated'])
  },
  methods: {
    ...mapActions('auth', ['doLogin']),
    async onSubmit() {
      this.$refs.username.validate();
      this.$refs.password.validate();

      if (this.$refs.username.hasError || this.$refs.password.hasError) {
        this.$q.notify({
          icon: 'error',
          position: 'top-right',
          color: 'negative',
          message: 'Você precisa preencher os campos em vermelho',
        });
      } else {
        try {
          await this.doLogin(this.data);
          const toPath = this.$route.query.to || '/'
          this.$router.push(toPath)
        } catch (err) {
          if(err.message){
            this.$q.notify({
              icon: 'error',
              position: 'top-right',
              color: 'negative',
              message: err.message,
            });
          }

        }

      }


    },
  },
})
;
</script>

<style scoped>
.aside {
  background: linear-gradient(to bottom, rgba(50, 113, 166, 0.85), rgba(183, 215, 86, 0.85)),
  url(../assets/images/imagem-de-fundo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
}

.label {
  font-size: 16px;
}

.text-font {
  font-family: 'Gothic A1', sans-serif;
}

</style>
