<template>
  <div class="">
    <q-btn color="" label="Account Settings">
      <q-menu fit anchor="bottom left" self="top left">
        <q-item class="column items-center">
          <q-avatar size="72px">
            <img src="https://cdn.quasar.dev/img/avatar4.jpg">
          </q-avatar>

          <div class="text-subtitle1 q-mt-md q-mb-xs">{{ name }}</div>
        </q-item>
        <q-separator />
        <q-item :key="action.name" v-for="action in actions" clickable>
          <q-item-section>{{ action.name }}</q-item-section>
          <q-icon :name="action.icon" size="sm" />
        </q-item>
      </q-menu>
    </q-btn>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "AccountSettings",
  props: {
    name: {
      type: String,
      required: true,
      default: 'John Doe'
    },
    actions: {
      type: Array,
      required: true,
    }


  },
  components: {},

  setup() {

    return {};
  },
});
</script>
