<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Sample System</q-toolbar-title>
        <div class="">
          <q-btn color="" label="Account Settings">
            <q-menu fit anchor="bottom left" self="top left">
              <q-item class="column items-center">
                <q-avatar size="72px">
                  <img src="https://cdn.quasar.dev/img/avatar4.jpg">
                </q-avatar>

                <div class="text-subtitle1 q-mt-md q-mb-xs">Admin</div>
              </q-item>
              <q-separator />
              <q-item clickable tag="a" @click="profile" exact>
                <q-item-section>Profile</q-item-section>
                <q-icon name="edit" size="sm" />
              </q-item>
              <q-item clickable tag="a" @click="logout" exact>
                <q-item-section>logout</q-item-section>
                <q-icon name="logout" size="sm" />
              </q-item>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

import { defineComponent } from "vue";
import { mapGetters } from 'vuex';

const linksList = [
  {
    title: "Home",
    icon: "home",
    link: "/",
  },
  {
    title: "About",
    icon: "menu_book",
    link: "/about",
  },
  {
    title: "Help",
    icon: "help",
    link: "/help",
  },
  {

    title: "Pages",
    icon: "pages",
    linksListSubMenu: [
      {
        title: "User Profile",
        icon: "person",
        link: "/about",
      },
      {
        title: "Maintenance",
        icon: "settings",
        link: "/help",
      },
    ],

  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksList,
      version: process.env.VERSION,
    };
  },

  methods: {
    toggleLeftDrawer() {
      this.leftDrawerOpen.value = !this.leftDrawerOpen.value;
    },
    logout() {
      this.$store.dispatch('auth/signOut')
      this.$router.push('/login')
    },
    profile() {
      console.log('profile');
    },
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
  },
});
</script>

<style>

</style>
